<!DOCTYPE html>
<html>
<head>
    <title>Hello service</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>The hello service</h1>
    <h2>Web form</h2>
    <form id="jsonForm">
        <label for="helloMessage">Text message:</label>
        <input type="text" id="helloMessage" name="helloMessage" required>
        <input type="submit" value="Submit">
    </form>

    <div>
        <h3>Response:</h3>
        <textarea id="responseTextarea" readonly style="width: 80%; height: 16em;"></textarea>
    </div>
    <hr/>
    <h2>Command-line</h2>
    <p>Alternatively you can do the same thing using the following command-line:</p>
    <pre>curl -X POST {{ my_url }} -H 'Content-Type: application/json' -d '{"hello":"any sample text"}'</pre>

    <script>
        $(document).ready(function() {
          $('#jsonForm').submit(function(event) {
            event.preventDefault();
            var msgValue = $('#helloMessage').val();
            var jsonData = { 'hello': msgValue };

            $.ajax({
              url: '/hello',
              type: 'POST',
              data: JSON.stringify(jsonData),
              contentType: 'application/json',
              success: function(response) {
                // Handle success response here
                $('#responseTextarea').val(response);
                console.log(response);
              },
              error: function(error) {
                // Handle error response here
                $('#responseTextarea').val(error);
                console.log(error);
              }
            });
          });
        });
    </script>
</body>
</html>
